{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
  detail
{% endblock title %}

{% block content %}

<div class="alert alert-primary" id = 'alert' role="alert">
  {{product.name}} added to your saved list
  <button class="cancelBtn" style="margin-left: auto; font-size: 25px; background: none; border: none">X</button>

  
  </div>

  <div class="alert alert-danger" id="alertdanger" role="alert">
    <p id ='removeItem'>{{product.name}} removed from your saved list</p>
    <button class="cancelBtn" style="margin-left: auto; font-size: 25px; background: none; border: none">X</button>
  </div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-9 col-xl-9" >
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-5 col-xl-5" >
          <div id="imageContainer">
            <img src=" {{product.image.url}} " />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-7 col-xl-7">
          <div class="row">
            <div class="col-10"><h4><strong>{{product.name}}</strong></h4></div>
            <div class="col-2">

              <div class="spinner-border text-info seen" id="heartSpinner" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>

                <form method='POST' id = 'form' data-id={{product.id}}>
                {% csrf_token %}
                
                {% if saveitem %}
                {% if request.user.is_authenticated %}
              <button id = 'heartContainer' type = 'submit' style = 'background: none; border: none' >
                <i class="bi bi-heart-fill" style = "font-size: 30px;" id = 'heart' data-id={{product.id}}></i>
              </button>
              {% else %}
              <button id = 'heartContainer' type = 'submit' style = 'background: none; border: none' >
                <i class="bi bi-heart" style = "font-size: 30px;" id = 'heart' data-id={{product.id}}></i>
              </button>
              {% endif %}
              {% else %}
              <button id = 'heartContainer' type = 'submit' style = 'background: none; border: none' >
                <i class="bi bi-heart" style = "font-size: 30px;" id = 'heart' data-id={{product.id}}></i>
              </button>
              {% endif %}
            </form>
            </div>
          </div>

          <p id="desc">{{product.description }}</p>

          <h3>${{product.price|floatformat:2}}</h3>
          <p style="text-decoration: line-through">
            ${{product.old_price|floatformat:2}}
          </p>
          
          {% comment %} <button id="addToCart" data-id="{{product.id}}" data-action="add">
            <h4 style = 'font-weight: 50px'>Add To Cart</h4>
            <div class="spinner-border seen" id = 'spinner' role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            
          </button> {% endcomment %}
          <button id="addToCart" data-id="{{product.id}}" data-action="add" class = 'btn btn-primary-lg'>
            Add To Cart
            <div class="spinner-border seen" id = 'spinner' role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
           
            
          </button>

          <div id="updateCart">
            <div id="substract"><i class="bi bi-dash-lg"></i></div>
            <div id="quantity"></div>
            <div id="add"><i class="bi bi-plus-lg"></i></div>
          </div>
        
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-3 col-xl-3" style="">
      {% if recently_viewed_products %}
      <h5><strong>Recently Viewed Products</strong></h5>
      {% endif %}
      <div class = 'row' style = 'height: 300px; overflow: auto'>
        {% for product in recently_viewed_products %}
        <div class = 'col-12'>
            <a href = "{% url 'detail' product.slug %}">
              <div class="card" style="width: 100%;">
                <img src="{{product.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">View Product</a>
                </div>
              </div>
            </a>
        
        </div>
        {% endfor %}
    </div>
    </div>
  </div>

  <div class = 'row'>
    <div class = 'row'>
      <br><br>
      {% if similar_products %}
      <h3 style = 'margin-top: 30px'><strong>Similar Products</strong></h3>
      {% endif %}
    </div>
    
    {% for product in similar_products %}
    <div class = 'col-12 col-sm-6 col-lg-2 col-xl-2'>
        <a href = "{% url 'detail' product.slug %}">
        <div class="card" style="width: 100%;">
           
            <img src="{{product.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-title"> {{product.name}} </p>
              <h4 class="card-text">  ${{ product.price|floatformat:2 }} </h4>
              <h6 class="card-text" style = 'text-decoration: line-through'>  ${{product.old_price|floatformat:2}} </h6>
            </div>
          </div>
        </a>
    
    </div>
    {% endfor %}
    
</div>

</div>

{% endblock content %}